<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JustATip WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TipCalculator WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>242DB4221A9975FF000CC644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>242DB4371A9975FF000CC644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>242DB44B1A99761C000CC644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>242DB4551A99761D000CC644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40EE9D0A1AD2C567000969DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
